/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
body{
    min-width: 1200px;
}
/*float*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*utilities*/
.button{
    color: #FFFFFF;
    background-color: #0061FF;
    padding: 5px 20px;
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/*debug*/
.debug{
    border: 1px solid black;
}
/*intestazione*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo img, .inizia{
    padding: 0 20px;
}
header{
    line-height: 70px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #000;
}
.jumbotron{
    background-color: #B4D0E7;
    margin-top: 70px;
}
.title{
    padding-top: 75px;
    font-size: 35px;
}
.side-text{
    width: 33%;
    line-height: normal;
}
.side-text p{
    padding: 40px 0 30px 0;
}
.side-text a{
    display: inline-block;
    text-decoration: none;
}
.side-text a:nth-last-child(3){
    padding-top: 10px;
    font-size: 15px;
    color: #000;
}
.side-text a:last-child{
    padding-top: 25px;
    padding-bottom: 80px;
    font-size: 50px;
    color: #000;
}
figure{
    width: 67%;
    position: relative;
}
.jumbotron figure img{
    width: 100%;
    position: absolute;
}